# version 0.41

language: generic

env:
  - NUMBA_DISABLE_JIT=1
os:
  - linux
  - osx

install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-MacOSX-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - echo ". /home/travis/miniconda/etc/profile.d/conda.sh" >> ~/.bashrc
  - echo "conda activate" >> ~/.bashrc
  - source ~/.bashrc
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update conda
  - conda info -a
  - conda install conda-build anaconda-client

script:
  - conda build --old-build-string -c conda-forge -c defaults recipes/gridtools
  - ./upload_to_anaconda_cloud.sh gridtools
