version: '0.4.1.{build}'

environment:
#  global:
      # Example can be found here https://github.com/quantopian/zipline/blob/master/appveyor.yml
#      ANACONDA_TOKEN: # not required anymore since it is configured at AppVeyor
  matrix:
    - PYTHON_LOC: "C:\\Miniconda37-x64"
      PYTHON_VERSION: 3.7

install:
  - cmd: call %PYTHON_LOC%\Scripts\activate.bat
  - cmd: conda config --set always_yes yes --set changeps1 no
  - cmd: conda update -q conda
  - cmd: conda info -a

build_script:
  - cmd: call %PYTHON_LOC%\Scripts\activate.bat root
  - cmd: conda install conda-build conda-verify anaconda-client
  - cmd: conda build --old-build-string -c conda-forge -c anaconda recipes\gridtools recipes\gridtools\conda_build_config.yaml
  - cmd: if %APPVEYOR_REPO_BRANCH% == master anaconda -v -t %ANACONDA_TOKEN% upload C:\Miniconda37-x64\conda-bld\win-64\gridtools-0.4.1-py36_0.tar.bz2 -u bc-dev --force
  - cmd: if %APPVEYOR_REPO_BRANCH% == master anaconda -v -t %ANACONDA_TOKEN% upload C:\Miniconda37-x64\conda-bld\win-64\gridtools-0.4.1-py35_0.tar.bz2 -u bc-dev --force
  - cmd: if %APPVEYOR_REPO_BRANCH% == master anaconda -v -t %ANACONDA_TOKEN% upload C:\Miniconda37-x64\conda-bld\win-64\gridtools-0.4.1-py37_0.tar.bz2 -u bc-dev --force
